
<div class="row container" style="padding: 20px">
  <div class="col-md-6" style="margin:  5%" >
      <h2>New User</h2>
    <label><h3> Welcome to my Blog <h3></label>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %> 

  <div class="col-md-12 login-container card  ">
    <div class=" col-md-5 car-body" style="margin-left: 40%" >
      <br>
      <h3 class="text-primary"> Login </h3>
      <br>
    </div>

    <div class="row " style="padding-left: 18%">
      <label class="col-sm-4"> Email: </label>
      <div class="form-group col-md-4 login-form-1">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: "yourMail@example.com"%>
      </div>
    </div>

    <div class="row" style="padding-left: 18%">
      <label class="col-sm-4"> Password: </label>
      <div class="form-group col-md-6 login-form-1">
        <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false %>
      </div>
    </div>

    <div class="row" style="padding-left: 18%">
      <label class="col-sm-4"> Confirm password: </label>
      <div class="form-group col-md-8 login-form-1">
        <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false %>
      </div>
    </div>
    <div class="form-actions offset-6">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>
    <div class="nav nav-bar">
    <%= render "devise/shared/links" %>
    </div>
  </div>

 
<% end %>



