<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container login-container">
    <div class="row">
      <div class="form-inputs col-md-3 login-form-1">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-md-6 login-form-1">
         <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-md-6 login-form-1">
         <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>

  
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                                       
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    
                </div>
            </div>
        </div>
<% end %>

<%= render "devise/shared/links" %>

