<div class="container offset-2">
  

  <p id="notice"><%= notice %></p>

  <div class="card" class="aling-text-bottom">
    <div class="card-body  p-3 mb-2 bg-secondary text-white ">

      <p class="text-center">
        <div class="rounded mx-auto d-block">
          <%= image_tag @post.image.url(:medium) %>
        </div>
      </p>

      <p class="p-3 mb-2 ">
        <strong><h6>Title:</h6></strong>
        <h1 class="display-4"><%= @post.title %></h1>
      </p>
      <div class="p-3 mb-4" style="width: 70%">
        <p>
          <strong>Body:</strong>
          <%= @post.body %>
        </p>
       </div>
    </div>

  <p>
    <strong>User Active:</strong>
    <%= @post.active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @post.user %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @post.category %>
  </p>
  <div class="btn-group-toogle" ata-toggle="buttons">
    <label class="btn btn-primary active">
      <%= link_to 'Edit', edit_post_path(@post) %>
    </label>
    <label class="btn btn-primary active">
     <%= link_to 'Back', posts_path %>
    </label>
    
  </div>  
</div>